module.exports = [
{{#photos}}
  {
    src: '{{{original.url}}}',
    w: {{original.width}},
    h: {{original.height}},
    thumbnail: {
      src: '{{{thumbnail.url}}}',
      w: {{thumbnail.width}},
      h: {{thumbnail.height}}
    }
  },
{{/photos}}
];
